<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Sequence Diagrams</title>

    <!-- VueJS base packages and styling. -->
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/buefy/dist/buefy.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/buefy/dist/buefy.min.css">
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/5.3.45/css/materialdesignicons.min.css">

    <!-- JS Sequence Diagrams: https://github.com/bramp/js-sequence-diagrams -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.10.2/underscore-min.min.js"></script>
    <script src="./js/webfont.js"></script>
    <script src="./js/snap.svg-min.js"></script>
    <!-- TODO(shyam): Using a modified version of the script until I can get the build process working. -->
    <!-- <script src="./js/sequence-diagram-min.js"></script> -->
    <script src="./js/sequence-diagram-mod.js"></script>

    <!-- JQuery utilities -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>

    <!-- Ace text editor: https://ace.c9.io/ -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/ace.min.js" integrity="sha512-GoORoNnxst42zE3rYPj4bNBm0Q6ZRXKNH2D9nEmNvVF/z24ywVnijAWVi/09iBiVDQVf3UlZHpzhAJIdd9BXqw==" crossorigin="anonymous"></script>

    <!-- SVG -> PNG blitting -->
    <script type="text/javascript" src="https://unpkg.com/canvg@3.0.4/lib/umd.js"></script>

    <!-- PWA -->
    <script type="module" src="./js/registerServiceWorker.js"></script>

    <style>
      [v-cloak] {
        display: none;
      }

      #editor {
        width: 100%;
        height: 100%;
      }

      .round-box {
        border-radius: 6px;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
      }

      .button-container {
        padding-top: 10px;
        text-align: center;
      }

      .scrolling-wrapper-flexbox {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        
        margin: auto;
        width: 100%;
      }
      .flexbox-card {
        flex: 0 0 auto;

        display: block;
        margin: auto !important;
      }

      .footer {
        padding-top: 2rem;
        padding-bottom: 2rem;
      }
      .social-icon {
        height: 32px;
      }
      
      .center {
        text-align: center;
      }

      /* Dynamically add padding depending on whether SVG is visible or not */
      .info-section-padding {
        padding-top: 30px;
      }
      .grammar-img {
        padding-top: 20px;
      }

      .load-buttons {
        padding-top: 5px;
      }
    </style>
  </head>  
  <body>
    <section id="app" class="section">
      <div class="columns is-centered">
        <div class="column is-half">
          <div id="editor" class="round-box"></div>
          <div class="button-container">
            <b-button type="is-primary" @click="savePng" :disabled='!hasContents'>Save As PNG</b-button>
            <p class="load-buttons">
              <b-tooltip label="Save diagram source text to a file." position="is-bottom">
                <b-button type="is-primary is-light" @click="saveSource" :disabled='!hasContents'>Save Source</b-button>
              </b-tooltip>
              <b-tooltip label="Load diagram source text from a file." position="is-bottom">
                <b-button type="is-primary is-light" @click="isUploadModalActive = true">Load Source</b-button>
              </b-tooltip>
            </p>

            <!-- Upload dialog layout -->
            <b-modal v-model="isUploadModalActive" :width="320" has-modal-card
              trap-focus aria-role="dialog" aria-modal>
              <div class="card">
                <div class="card-content">
                  <section>
                    <b-field>
                      <b-upload v-model="uploadedFile" drag-drop>
                        <section class="section">
                          <div class="content has-text-centered">
                            <p><b-icon icon="upload" size="is-large"></b-icon></p>
                            <p>Drop your diagram source file here or click to upload.</p>
                          </div>
                        </section>
                      </b-upload>
                    </b-field>
                    <b-button @click="isUploadModalActive = false">Cancel</b-button>
                  </section>
                </div>
              </div>
            </b-modal>
          </div>
        </div>
      </div>
      <!-- SVG display. Avoid column layout to support horizontal scrolling. -->
      <div class="scrolling-wrapper-flexbox round-box">
        <div id="diagram-display" class="flexbox-card"></div>
      </div>
      <div class="columns is-centered" v-bind:class="[hasContents ? 'info-section-padding' : '']">
        <div class="column is-two-thirds center">
          <p>A web app for turning text into sequence diagrams.</p>
          <p>Follow the <strong>grammar syntax</strong> below, or load a sample to get started.</p>
          <p><a href="#" v-on:click="loadSample(0)">Sample 1</a> | <a href="#" v-on:click="loadSample(1)">Sample 2</a> | <a href="#" v-on:click="loadSample(2)">Sample 3</a></p>
          <p><img class="grammar-img" src="./img/grammar.png"></p>
        </div>
      </div>
    </section>

    <footer class="footer">
      <div class="content has-text-centered">
        <p><small>Built by <a href="http://shy.am/" target="_blank">Shyam Guthikonda</a> in 2020 <strong>|</strong> Based off of <strong><a href="https://github.com/bramp/js-sequence-diagrams" target="_blank">js-sequence-diagrams</a></strong></small></p>
        <p><a href="https://github.com/doggan/sequence-app" target="_blank"><img class="social-icon" src="./img/GitHub-Mark-64px.png"></a></p>
      </div>
    </footer>

    <script>
      var app = new Vue({
        el: "#app",

        data: {
          hasContents: false,
          isUploadModalActive: false,
          uploadedFile: null,
        },

        mounted: function() {
          let editor = ace.edit("editor", {
            minLines: 20,
            maxLines: 20,
            showPrintMargin: false,
          });
          editor.session.on('change', _.debounce(this.refreshDiagram, 100));

          // Set initial focus.
          editor.focus();

          // Allow access from the rest of the component.
          Vue.prototype.$editor = editor;
        },

        watch: {
          uploadedFile: {
            handler() {
              if (this.uploadedFile) {
                if (this.uploadedFile.type === "text/plain") {
                  this.isUploadModalActive = false;
                  this.loadSource(this.uploadedFile);
                } else {
                  console.error("Invalid file type: " + this.uploadedFile.type);
                  this.$buefy.toast.open({
                    message: 'Invalid file type: [' + this.uploadedFile.type + ']: ' +
                      this.uploadedFile.name,
                    type: 'is-danger'
                  });
                }
              }
            }
          }
        },

        methods: {
          loadSample: function(val) {
            let samples = [
`Client->Server: Request data
Server->>Server: Check cache
Server->Database: Fetch data if not cached
Database-->Server: 
Server->Client: Return data
`,

`participant Oct 2020 as Oct
participant Nov 2020 as Nov
participant Dec 2020 as Dec

Title: Q4 Team Planning
Oct->Nov: Project A
Oct->Dec: Project B
Note over Nov: Worldwide\\nConference
Oct->Nov: Project C
Nov->Nov: Project D
Nov->Dec: Project E
`,

`Title: Hamilton Timeline
participant 1756
participant 1757
participant 1775
participant 1778
participant 1781
participant 1783
participant 1787
participant 1804
participant 1836

1757->1804: Alexander Hamilton
1756->1836: Aaron Burr
Note over 1778: Battle of Monmouth
Note over 1781: Battle of Yorktown
Note over 1787: The Constitutional\\nConvention
1775-->>1783: American Revolution
`
          ];

            this.$editor.setValue(samples[val], 1);
            this.$editor.focus();
          },

          getEditorContents: function() {
            return this.$editor.getValue();
          },

          isEditorEmpty: function() {
            return this.getEditorContents().trim().length === 0;
          },

          refreshDiagram: function() {
            try {
              let diagram = Diagram.parse(this.getEditorContents());

              // Clear the old diagram and editor state.
              this.$editor.session.clearAnnotations();
              $("#diagram-display").empty();
              this.hasContents = false;

              if (!this.isEditorEmpty()){ 
                const options = {
                  theme: 'simple',
                  scale: 1,
                };
                diagram.drawSVG("diagram-display", options);
                this.hasContents = true;
              }
            } catch(err) {
              let annotation = {
                type: "error",
                column: 0,
                row: 0,
                text: err.message
              };

              if (err instanceof Diagram.ParseError) {
                annotation.row = err.loc.first_line - 1;
                annotation.column = err.loc.first_line;
              }

              this.$editor.session.setAnnotations([annotation]);
            }
          },

          generateLink: function (fileName, data) {
            var link = document.createElement('a');
            link.download = fileName;
            link.href = data;
            return link;
          },

          savePng: function() {
            let svgData = $("#diagram-display").html();
            let canvas = document.createElement('canvas');
            let ctx = canvas.getContext('2d');
            let v = canvg.Canvg.fromString(ctx, svgData);
            v.start(); // force render

            // Add a background color or else it will be transparent.
            ctx.globalCompositeOperation = 'destination-over' // new blits behind alrdy painted pixels
            ctx.fillStyle = "#ffffffff";
            ctx.fillRect(0, 0, canvas.width, canvas.height);
            
            let img = canvas.toDataURL("image/png");

            this.generateLink('diagram.png', img).click();
          },

          saveSource: function() {
            let contents = this.getEditorContents();
            let uriContent = "data:application/octet-stream," + encodeURIComponent(contents);

            this.generateLink('diagram_source.txt', uriContent).click();
          },

          loadSource: function(file) {
            console.log("Loading source file: " + file.name)
            var parent = this;
            var reader = new FileReader();
            reader.onload = (function(theFile) {
              return function(e) {
                parent.$editor.setValue(e.target.result, 1);
                parent.$editor.focus();
                parent.$buefy.toast.open({
                    message: 'Loaded source file: ' + file.name,
                    type: 'is-success'
                });
              };
            })(file);
            reader.readAsText(file);
          },
        },
      });
    </script>
  </body>
</html>
